<div class="container">
    <div class="row">
        <h3>Comments:</h3>
        <div class="column">
            <table class="table">
                <tbody>
	                <% @comments.each do |comment| %>
	                    <tr>
	                        <td>
	                            <% if comment.user_id %>
	                                <p><%= comment.user_id %> wrote:</p>
	                            <% end %>
	                        </td>
	                        <td>
	                            <p><%= comment.text %></p>
	                        </td>
	                        <td>
	                            <% if current_user.id == comment.user_id %>
	                                <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
	                            <% end %>
	                        </td>
	                    </tr>
	                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>


<% @users.each do |f| %>
	<%= f.name %>
<% end %>