<% unless current_user == user %>
    <div id="follow_form">
        <% if current_user.following?(user) %>
            <%= render partial: 'users/unfollow', locals: {user: user} %>
        <% else %>
            <%= render partial: 'users/follow', locals: {user: user} %>
        <% end %>
    </div>
<% end %>