<div class="container" ng-controller="UsersCtrl" >
	<div ng-if="notify">
	    <growl-notification>
	        {{ message }}
	    </growl-notification>
	</div>
   
    <h3>Users</h3>
    <div ng-repeat="user in users">
	    <%= render 'user' %>
    </div>
</div>