// Form colors
$input-border-color: rgb(255, 255, 255);
$input-border-error-color: rgb(189, 32, 49);
$input-bg-color: rgb(238, 238, 238);

//Navbar colors
$user-avatar-bg-color: rgb(245, 245, 245);

// Page style
$main-blue-color: rgb(67, 198, 219);
$main-blue-color-light: rgb(69, 210, 220);

$page-background-color: rgb(238, 238, 238);

// best color ever rgb(51, 51, 51);