<%= form_for :like, url: medium_likes_path(medium_id: medium.id), remote: true do |f| %>
	<%= f.hidden_field current_user.id %>
	<span class="glyphicon glyphicon-thumbs-up"></span>
    <%= f.submit 'Like' %>
<% end %>