<h1>{{ user.name }}</h1>

<p>Email: {{ user.email }}</p>

<div class="stats">
	<a href="/users/{{ user.id }}/following">
		<strong id="following" class="stat">
			{{ following.length }}
		</strong>
		following
	</a>
	<a href="/users/{{ user.id }}/followers">
		<strong id="followers" class="stat">
			{{ followers.length }}
		</strong>
		followers
	</a>
</div>

<div class="container">
	<div class="row">
		<h3>{{ user.name }} uploads:</h3>
		<div class="column">
			<table class="table">
				<tbody ng-repeat="medium in media">
					<tr>
						<td ng:click="selectMedium(medium)">
							<img ng:src="{{ medium.image_video_thumb_url }}" alt="{{ medium.text }}" /><br>
						</td>

						<td>
							<div ng-if="userOwnsMedium(medium)">
								<div ng-include="templates[0].url"></div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
