<div class="container">
	<div class="row">
        <h3>Media:</h3>
        <div class="column">
            <table class="table">
                <tbody>
	                <% media.each do |media| %>
	                    <tr>
		                    <td>
		                        <%= link_to medium_path(media) do %>
	                                <%= image_tag media.image_video.url(:thumb) %>
	                            <% end %>
		                    </td>
		                    <td>
		                        <% if current_user.id == media.user_id %>
		                            <%= link_to 'Delete', medium_path(media), method: :delete, data: { confirm: 'Are you sure?' } %>
		                        <% end %>

		                    </td>
	                    </tr>
	                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<br><%= link_to 'Upload new media', new_medium_path %>
