<%# We can make this a partial later to have the image pop up on top of current page with javascript %>
<p style="text-align: center"><%= @medium.text %></p>
<%= image_tag @medium.image_video.url(:big) %>