growl-notifications {
	position: fixed;
	top: 50px;
	right: 50%;
	z-index: 1000;
}

growl-notifications growl-notification {
	background: rgba(0,0,0,0.6);
	color: white;
	padding: 15px 30px;
	width: 200px;
	display: block;
	border-radius: 5px;
	margin-top: 15px;
}