<h3>Comments:</h3>

<% comments.each do |comment| %>
    <p>
        <%= link_to comment.user.name, user_path(comment.user) %>
        <%= comment.text %>

        <% if current_user.id == comment.user.id %>
            <%= link_to 'Delete', medium_comment_path(id: comment.id, medium_id: comment.medium_id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    </p>
<% end %>