<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <% if user_signed_in? %>
        <div class="profile-picture">
            <!--<img class="pure-img" src="{{ current_user.avatar.image_video_thumb_url }}" href="#">-->
            <img class="pure-img" src="default-avatar.png" href="#">
        </div>

        <a href="#" ng-click="sign_out()" ng-controller="SessionCtrl" class="sign-out">Sign out</a>
    <% end %>

    <a class="pure-menu-heading" href="/">F i t t e r</a>
</div>





