<% if user_signed_in? %>
    <%# navigation styled for Bootstrap 3.0 %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b><a href="/" class="navbar-brand">Sportify</a></b>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <%= render 'layouts/navigation_links' %>
                </ul>
            </div>
        </div>
    </nav>
<% else %>
    <%# Navigation bar for non signed_in users %>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <b><a href="#" class="navbar-brand">Sportify</a></b>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/users/sign_in">Sign in</a></li>
                    <li><a href="/users/sign_up">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>
<% end %>


